# Server
PORT=3000

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=chat_app

# JWT
JWT_SECRET=your_jwt_secret

# Kafka
KAFKA_BROKERS=localhost:9092

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MongoDB
MONGO_URI=mongodb://localhost:27017/chat_app
